*{
    font-family: tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(70, 238, 55);
    background: url(../imagen/melo.jpg);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.main-box{
    width: 600px;
}
.form-box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 600px;
}
form{
    width: 600px;
    padding: 20px 40px;

}
label{
    display: block;
}
.content-box{
    border: 1px solid red;
    width: 600px;
    margin-top: 80px;
    background-color: white;
}
input [type= "text"]{
    display: block;
    margin: 20px;
}
.form-title{
    height: 80px;
    color: white;
    background-color: red;
    margin-top: 0;
    font-size: 1.7em;
    text-align: center;
    line-height: 60px;
    font-weight: 900;
}

label{
    display: block;
}
input[type="text"]{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.3em;
    border: 0;
    border-bottom: 1px solid gray;
}
input[type="radio"], input[type="checkbox"]{
    margin-top: 15px;
}
label{
    margin-top: 20px;
}
input[type="submit"] {
    margin-top: 20px;
    width: 480px;
    margin-left: 20px;
    
}
input[type="text"]:focus{
    outline: none;
    
}
.link{
    text-decoration: none;
    color: brown;
}
.boton{
    margin-top: 20px;
        width: 480px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: aqua;
        line-height: 50px;
        color: white;
        font-size: 1.3em;
        font-weight: 900;
        border: none;
        border-radius: 20px;

}

a{
    color: chartreuse;
}