
body{
    display: flex;
    padding: 35vh;
    justify-content: center;
   align-items: center;
    background: url(../imagen/melo.jpg);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.titulo{
    color: aliceblue;
}

a {
    color: aqua;
}