
body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
   align-items: center;
    background: url(../imagen/Car\ GIF\ -\ Find\ &\ Share\ on\ GIPHY.gif);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.titulo{
    color: aliceblue;
}
.link{
    color: aqua;
}