*{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 0;
    padding: 0;
}

body{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    display: grid;
    grid-template: "empty-left main-page empty-rigth"100vh/
            minmax(50px, 1fr)     minmax(900px, 1200px)       minmax(50px, 1fr);
}

.main-page{
grid-area: main-page;
margin-top: 80px;
}

header{
    margin-top: 50px;
    display: grid;
    gap: 30px;
    grid-template: "logo main-menu" 80px/
            150px   minmax(700px, 100%);
}

.logo{
    grid-area: logo;
background-color: chartreuse;
}

.main-menu{
    grid-area: main-menu;
background-color: tomato;
}

.style-text{
    font-family: verdana, sans-serif;
    font-size: 1.6em;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-content{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    display: grid;
    margin-top: 30px;
    gap: 40px 70px;
    grid-template: "main-img main-img main-img"600px
    "articule-1 articule-2 articule-3 "
    "articule-4 articule-5 articule-6";

}

.main-img{
    grid-area: main-img;
    background-color: blueviolet;
}

.tex-article-1{
    grid-area: articule-1;
    
}
.tex-article-2{
    grid-area: articule-2;
    
}
.tex-article-3{
    grid-area: articule-3;  
}
.tex-article-4{
    grid-area: articule-4;
    
}
.tex-article-5{
    grid-area: articule-5;
    
}
.tex-article-6{
    grid-area: articule-6;
    
}
.img-article{
    height: 350px;
background-color: black;
}

.style-text-article{
    margin-top: 30px;
    font-size: 1.2em;
    color: black;
    font-family: Verdana, sans-serif;
    line-height: 1.4em;
    justify-content: center;
    text-align: justify;
}

@media only screen and (min-width: 768px) and (max-width: 991px){

    body {
        display: grid;
    grid-template: "empty-left main-page empty-right" 100vh /
        minmax(50px, 1fr) minmax(700px, 991px) minmax(50px, 1fr);
    }

    header {
         display: grid;
        gap: 30px;
        grid-template: "logo main-menu" 80px / 150px minmax(250px, 100%);
    }
    .main-page {
        grid-area: main-page;
        margin-top: 80px;
    }
    .main-content {
        display: grid;
        margin-top: 30px;
        gap: 40px 70px;
        grid-template: "main-img main-img main-img" /500px
                        "articule-1 articule-2 articule-3"
                        "articule-4 articule-5 articule-6" ;
    }
    .main-img {
        grid-area: main-img;
        background-color: rgb(143, 11, 251);
        border-radius: 8px;
    }
    .img-article {
        height: 450px;
        background-color: black;
        border-radius: 8px;
    }
    .style-text-article {
        padding-top: 30px;
        text-align: justify;
        font-size: 1.2em;
        font-family: verdana, sans-serif;
        line-height: 1.4em;
        color: black;
        justify-content: center;
        text-align: justify;
    }
}

@media(max-width: 768px){
    body {
        display: grid;
        grid-template: "empty-left main-page empty-right" 100vh /
        minmax(50px, 1fr) minmax(350px, 760px) minmax(50px, 1fr);
    }

    header {
        grid-template: "logo main-menu" 80px / 150px minmax(130px, 100%);
    }
    .main-page {
        grid-area: main-page;
        margin-top: 80px;
    }
    .main-content {
        display: grid;
        grid-template:
        "main-img"
            auto
            "articule-1"
            "articule-2"
            "articule-3"
            "articule-4"
            "articule-5"
            "articule-6" 1fr;
    }
    .main-img {
        grid-area: main-img;
        height: 500px;
        background-color: rgb(151, 0, 238);
        border-radius: 8px;
    }
    .img-article {
        height: 180px;
        background-color: rgb(10, 10, 10);
        border-radius: 8px;
    }
    .style-text-article {
        padding-top: 30px;
        text-align: justify;
        font-size: 1em;
        font-family: verdana, sans-serif;
        line-height: 1.4em;
        color: black;
        justify-content: center;
        text-align: justify;
    }

}