* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../imagen/melo.jpg);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
a {
    color: chartreuse;
}

i {
    color: blue;
}

.cuadro {
    width: 200px;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cuadro.close {
    width: min-content;
}

.cuadro.close > .menu > p {
    display: none;
    overflow: hidden;
}


.menu {
    display: flex;
    gap: 10px; /* Espaciado entre cajas */
    padding: 10px;
}

.menu > i{
    color: gray;
}

.nav {
    padding: 10px;
}

.nav > i {
    font-size: 1.3em;
}