* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../imagen/melo.jpg);
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
a {
    color: rgb(117, 231, 4);
}

i {
    color: rgb(200, 214, 6);
}

.cuadro {
    width: 200px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
}

.cuadro.close {
    width: min-content;
}

.cuadro.close > .menu > p {
    display: none;
    overflow: hidden;
}


.menu {
    display: flex;
    gap: 10px; /* Espaciado entre cajas */
    padding: 10px;
    transition: all;
    padding: 15px;
    flex-wrap: initial;
}

.menu > i{
    color: rgb(119, 211, 13);
}

.nav {
    padding: 10px;
    color: rgb(230, 0, 0);
}

.nav > i {
    font-size: 1.3em;
}
p {
    color: rgb(0, 0, 0);
}
.cuadro:hover{
    cursor: pointer;
    color: aliceblue;
}

.menu:hover{
    background-color: aqua;
}