* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
        background: url(../imagen/netflix-junio.jpg);
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 18em;
    letter-spacing: 10px;
    color: red;
    font-family: 'Bebas Neue', cursive;
}

a {
    color: #0eeb50;
}