
body{
    padding-left: 800px;
    padding-top: 350px;

}

.toggle-box-off{
    width: 250px;
    height: 120px;
    background-color: rgb(3, 255, 16);
    border-radius: 65px;
    transition: background-color 600ms;
    cursor: pointer;

}
.toggle-box-on{
    width: 250px;
    height: 120px;
    background-color: rgb(5, 216, 163);
    border-radius: 65px;
    transition: background-color 600ms;
    cursor: pointer;
}
.choice-box-off{
    position: relative;
    width: 110px;
    height: 110px;
    left: 5px;
    top: -32px;
    border-radius: 55px;
    background-color: rgb(170, 9, 9);
    transition: all 1100ms;

}
.choice-box-on{
    position: relative;
    width: 110px;
    height: 110px;
    left: 135px;
    top: -32px;
    border-radius: 55px;
    background-color: rgb(207, 241, 12);
    transition: all 1100ms;
}
.text-on{
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: rgb(12, 12, 12);
    top: 39px;
    left: 170px;
}
.text-off{
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: rgb(15, 15, 15);
    top: 39px;
    left: -30px;
}